{% extends "/admin/layout.html" %}

{% block content %}

<div class="row">
	<div class="col-xl-3 col-lg-6 col-md-12 col-sm-12">
		<div class="card card-counter bg-gradient-danger">
			<div class="card-body">
				<div class="row">
					<div class="col-4">
						<i class="si si-eye mt-3 mb-0 text-white-transparent"></i>
					</div>
					<div class="col-8 text-center">
						<div class="mt-4 mb-0 text-white">
							<h2 class="mb-0">54,234</h2>
							<p class="text-white mt-1">Daily Visitors </p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div><!-- col end -->
	<div class="col-xl-3 col-lg-6 col-md-12 col-sm-12">
		<div class="card card-counter bg-gradient-secondary ">
			<div class="card-body">
				<div class="row">
					<div class="col-4">
						<i class="si si-basket mt-3 mb-0 text-white-transparent"></i>
					</div>
					<div class="col-8 text-center">
						<div class="mt-4 mb-0 text-white">
							<h2 class="mb-0">80,956</h2>
							<p class="text-white mt-1">Daily Orders </p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div><!-- col end -->
	<div class="col-xl-3 col-lg-6 col-md-12 col-sm-12">
		<div class="card card-counter bg-gradient-success">
			<div class="card-body">
				<div class="row">
					<div class="col-4">
						<i class="si si-people mt-3 mb-0 text-white-transparent"></i>
					</div>
					<div class="col-8 text-center">
						<div class="mt-4 mb-0 text-white">
							<h2 class="mb-0">34,762</h2>
							<p class="text-white mt-1">Daily  Customers</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div><!-- col end -->
	<div class="col-xl-3 col-lg-6 col-md-12 col-sm-12">
		<div class="card card-counter bg-gradient-pink">
			<div class="card-body">
				<div class="row">
					<div class="col-4">
						<i class="si si-paper-plane mt-3 mb-0 text-white-transparent"></i>
					</div>
					<div class="col-8 text-center">
						<div class="mt-4 mb-0 text-white">
							<h2 class="mb-0">25,789</h2>
							<p class="text-white mt-1 ">Daily Revenue</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div><!-- col end -->
</div>





<div class="row">
	<div class="col-sm-6 col-md-12 col-lg-6 col-xl-6">
		<div class="card">
			<div class="card-body">
				<div class="d-flex clearfix">
					<div class="text-left mt-3">
						<p class="card-text text-muted mb-1">Regions</p>
						<h2 class="mb-0 text-dark mainvalue">6,895</h2>
					</div>
					<div class="ml-auto">
						<span class="bg-primary-transparent icon-service text-primary ">
							<i class="si si-briefcase  fs-2"></i>
						</span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-sm-6 col-md-12 col-lg-6 col-xl-6">
		<div class="card">
			<div class="card-body">
				<div class="d-flex clearfix">
					<div class="text-left mt-3">
						<p class="card-text text-muted mb-1">Flats</p>
						<h2 class="mb-0 text-dark mainvalue">8,379</h2>
					</div>
					<div class="ml-auto">
						<span class="bg-success-transparent icon-service text-success">
							<i class="si si-layers fs-2"></i>
						</span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-sm-6 col-md-12 col-lg-6 col-xl-6">
		<div class="card">
			<div class="card-body">
				<div class="d-flex clearfix">
					<div class="text-left mt-3">
						<p class="card-text text-muted mb-1">Sensors</p>
						<h2 class="mb-0 text-dark mainvalue">1,345</h2>
					</div>
					<div class="ml-auto">
						<span class="bg-danger-transparent icon-service text-danger">
							<i class="si si-note  fs-2"></i>
						</span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-sm-6 col-md-12 col-lg-6 col-xl-6">
		<div class="card">
			<div class="card-body">
				<div class="d-flex clearfix">
					<div class="text-left mt-3">
						<p class="card-text text-muted mb-1">Residents</p>
						<h2 class="mb-0 text-dark mainvalue">2,456K</h2>
					</div>
					<div class="ml-auto">
						<span class="bg-warning-transparent icon-service text-warning">
							<i class="si si-basket-loaded  fs-2"></i>
						</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}