{% extends "/admin/layout.html" %}

{% block content %}

<div class="row">
	<a href="/admin/locale_details?tag=regions"
		class="col-xl-3 col-lg-6 col-md-12 col-sm-12">
		<div class="card card-counter bg-gradient-primary">
			<div class="card-body">
				<div class="row">
					<div class="col-4">
						<i class="fa fa-compass mt-3 mb-0 text-white-transparent"></i>
					</div>
					<div class="col-8 text-center">
						<div class="mt-4 mb-0 text-white">
							<h2 class="mb-0">{{data.regions_qty}}</h2>
							<p class="text-white mt-1">Regions</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</a>
	<a href="/admin/locale_details?tag=houses"
		class="col-xl-3 col-lg-6 col-md-12 col-sm-12">
		<div class="card card-counter bg-gradient-secondary ">
			<div class="card-body">
				<div class="row">
					<div class="col-4">
						<i class="fa fa-building-o mt-3 mb-0 text-white-transparent"></i>
					</div>
					<div class="col-8 text-center">
						<div class="mt-4 mb-0 text-white">
							<h2 class="mb-0">{{data.houses_qty}}</h2>
							<p class="text-white mt-1">Houses</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</a>
	<a href="/admin/locale_details?tag=flats"
		class="col-xl-3 col-lg-6 col-md-12 col-sm-12">
		<div class="card card-counter bg-gradient-pink">
			<div class="card-body">
				<div class="row">
					<div class="col-4">
						<i class="fa fa-cubes mt-3 mb-0 text-white-transparent"></i>
					</div>
					<div class="col-8 text-center">
						<div class="mt-4 mb-0 text-white">
							<h2 class="mb-0">{{data.flats_qty}}</h2>
							<p class="text-white mt-1">Flats</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</a>
	<a href="/admin/locale_details?tag=residents"
		class="col-xl-3 col-lg-6 col-md-12 col-sm-12">
		<div class="card card-counter bg-gradient-success">
			<div class="card-body">
				<div class="row">
					<div class="col-4">
						<i class="fa fa-users mt-3 mb-0 text-white-transparent"></i>
					</div>
					<div class="col-8 text-center">
						<div class="mt-4 mb-0 text-white">
							<h2 class="mb-0">{{data.residents_qty}}</h2>
							<p class="text-white mt-1 ">Residents</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</a>
</div>

<div class="row row-cards">
	<a href="/admin/residents_table" class="col-sm-12 col-md-6 col-lg-3 col-xl-3">
		<div class="card">
			<div class="card-body text-center list-icons">
				<i class="si si-people text-success"></i>
				<p class="card-text mt-3 mb-3">Add and manage residents or users</p>
				<p class="h1 text-center  text-success">Residents table</p>
			</div>
		</div>
	</a>
</div>


<!-- 

<div class="row">
	<div class="col-sm-6 col-md-12 col-lg-6 col-xl-6">
		<div class="card">
			<div class="card-body">
				<div class="d-flex clearfix">
					<div class="text-left mt-3">
						<p class="card-text text-muted mb-1">Regions</p>
						<h2 class="mb-0 text-dark mainvalue">12</h2>
					</div>
					<div class="ml-auto">
						<span class="bg-primary-transparent icon-service text-primary ">
							<i class="si si-briefcase  fs-2"></i>
						</span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-sm-6 col-md-12 col-lg-6 col-xl-6">
		<div class="card">
			<div class="card-body">
				<div class="d-flex clearfix">
					<div class="text-left mt-3">
						<p class="card-text text-muted mb-1">Flats</p>
						<h2 class="mb-0 text-dark mainvalue">8,379</h2>
					</div>
					<div class="ml-auto">
						<span class="bg-success-transparent icon-service text-success">
							<i class="si si-layers fs-2"></i>
						</span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-sm-6 col-md-12 col-lg-6 col-xl-6">
		<div class="card">
			<div class="card-body">
				<div class="d-flex clearfix">
					<div class="text-left mt-3">
						<p class="card-text text-muted mb-1">Sensors</p>
						<h2 class="mb-0 text-dark mainvalue">1,345</h2>
					</div>
					<div class="ml-auto">
						<span class="bg-danger-transparent icon-service text-danger">
							<i class="si si-note  fs-2"></i>
						</span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-sm-6 col-md-12 col-lg-6 col-xl-6">
		<div class="card">
			<div class="card-body">
				<div class="d-flex clearfix">
					<div class="text-left mt-3">
						<p class="card-text text-muted mb-1">Residents</p>
						<h2 class="mb-0 text-dark mainvalue">2,456K</h2>
					</div>
					<div class="ml-auto">
						<span class="bg-warning-transparent icon-service text-warning">
							<i class="si si-basket-loaded  fs-2"></i>
						</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div> -->

{% endblock %}