{% extends "/admin/layout.html" %}

{% block css %}
	<link href="/static/admin/plugins/datatable/dataTables.bootstrap4.min.css" rel="stylesheet" />
	<link href="/static/admin/plugins/datatable/responsivebootstrap4.min.css" rel="stylesheet" />
{% endblock %}

{% block content %}

	<div class="row">
		<div class="col-md-12 col-lg-12">
			<div class="card">
				<div class="card-header">
					<div class="card-title">{{ data.message }}</div>
				</div>
				<div class="card-body">
					<div class="table-responsive">
						<div id="example_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
							<div class="row">
								<div class="col-sm-12">
									<table id="example" class="table table-striped table-bordered text-nowrap w-100 dataTable no-footer" role="grid" aria-describedby="example_info">
										<thead>
											<tr role="row">
												<th class="wd-15p sorting_asc" tabindex="0" aria-controls="example" rowspan="1" colspan="1">
													Id
												</th>
												<th class="wd-15p sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1">
													Name
												</th>
												<th class="wd-20p sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1">
													Command
												</th>
												<th class="wd-10p sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1">
													Value
												</th>
												<th class="wd-25p sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1">
													Type
												</th>
												<th class="wd-15p sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" >
													Device
												</th>
												<th class="wd-15p sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" >
													Description
												</th>
											</tr>
										</thead>
										<tbody>

											{% for sensor in data['sensors'] %}
											<tr role="row">
												<td class="sorting_1">{{sensor.id}}</td>
												<td>{{sensor.name}}</td>
												<td>{{sensor.command}}</td>
												<td>{{sensor.value}}</td>
												<td>{{sensor.typeId}}</td>
												<td>{{sensor.deviceId}}</td>
												<td>{{sensor.description}}</td>
											</tr>
											{% endfor %}

										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
{% endblock %}

{% block js %}
	<script src="/static/admin/plugins/datatable/jquery.dataTables.min.js"></script>
	<script src="/static/admin/plugins/datatable/dataTables.bootstrap4.min.js"></script>
	<script src="/static/admin/plugins/datatable/datatable.js"></script>
	<script src="/static/admin/plugins/datatable/datatable-2.js"></script>
	<script src="/static/admin/plugins/datatable/dataTables.responsive.min.js"></script>
{% endblock %}